# Ignore env files
.env
**/.env

# Ignore node_modules in both frontend and backend
**/node_modules

# Ignore build/dist files
**/build
**/dist

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS generated
.DS_Store
Thumbs.db
